# store mode: completions will remember special keywords for:
# send, receive, throw~, catch~, table, tabread4~, etc..
# default is 1 (on)
save_mode 1

# maximum lines number in completion window
lines 7

# completion font family
font "DejaVu Sans Mono"

# fontsize (it usually looks bigger in the completion window so you might need to use a smaller size here)
# if you change the font size via 'Edit>Font' menu in pd, this wil be overwritten by the new one
font_size 9

# selected completion background color
bg "#418bd4"

# selected completion foreground color
fg white